@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="panel-header panel-header-sm">
    <!--null-->
</div>
<div class="content-center content">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center card">
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>

                @if (Model.ShowRequestId)
                {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
                }
            </div>
        </div>
    </div>
</div>